/*////////////// Fonts //////////////*/
@@import "../fonts/Baskerville.ttc"
/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}
img{
	border: 5px rgb(152,173,166) solid;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}
h1{
	font-size: 5em;
	font-family: 'Baskerville', serif;
}

a img{
	border: 5px rgb(111,127,122) solid;
}
/* Write all remaining styles here */
